################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CovidStats/bin/Debug
/CovidStats/obj
/CovidStats.SchoolsSummary/bin/Debug
/CovidStats.SchoolsSummary/obj
/.vs/CovidStats
/CovidStats/CovidStats.csproj.user
/CovidStats.DailyEpidemiology
