################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CovidStats/bin/Debug
/CovidStats/obj
/CovidStats.SchoolsSummary/bin/Debug
/CovidStats.SchoolsSummary/obj
/.vs/CovidStats
/CovidStats/CovidStats.csproj.user
/CovidStats.DailyEpidemiology/obj
/CovidStats.DailyEpidemiology/bin/Debug/netcoreapp3.1
/CovidStats.WeeklyEpidemiology/bin/Debug/netcoreapp3.1
/CovidStats.WeeklyEpidemiology/obj
/CovidStats/bin/Release/net5.0
/CovidStats.DailyEpidemiology/bin/Release/netcoreapp3.1
/CovidStats.SchoolsSummary/bin/Release/net5.0/ref
/CovidStats.WeeklyEpidemiology/bin/Release/netcoreapp3.1

